name: Java CI with Gradle

on: push

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Build with Gradle Wrapper
      run: |
          chmod +x gradlew
          ./gradlew build

    - uses: actions/upload-artifact@v4
      with:
        name: my-artifact
        path: |
          build/libs/
